body{
    background-color:black;
    margin: 0 0 0 0
}

.headercat{
    border-radius:50%;
    width:15rem;
    height:15rem;   
    display: block;
    margin: 3% auto 0 auto;
    border: 2px solid black;   
}


li {
    display: inline;
  }

  a{
      color:white;
      font-size:1.4rem;
      margin-left:10%;
}

a:hover{
    color:lightgray;
}

.headerimg{
    min-width:100%; 
}

.trim{
    max-height:300px;
    overflow: hidden;
}

@media (min-width: 1024px) {
    a{
        margin-left:17.5%;  
    }
    .trim{
        max-height:450px;
    }
}


